.smallsqare { 
	width: 200px;
	height: 200px;
}

.mediumsqa { 
	width: 400px;
	height: 400px;
}

.container-carousel {
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.carousel-item {
	display: inline-flex;
}

.carousel {
	height: 500px;
	width: 70%;
}

.logo {
	height: 200px;
	width: 200px;
}

.logo-height {
	height: 64px !important;
}
.mygtukaszemyn {
	margin-top: 50px;
	background-color: #cddc39;
}

.fotonuosono {
	margin-left: 80px;
}
.fotoidomybes {
	width: 200px;
	height: 200px;
}

.material-icons {
	color: #cddc39;
}

.container-idomybes {
	background-color: #e0f7fa;
	padding: 10px;
}

.title-text-H1 {
	font-family: "Segoe UI";
	font-stretch: semi-expanded;
	color: #FFFFFF;
	position: center;
	margin: 20px;
	}


.breadcrumb {
	background-color: #00BCD4;
	color: #B2EBF2;
	padding-left: 10px;
}

.nav-wrapper {
	
	}

.border{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	border-right-color: 1px solid #000;
}

.container-cards {
  max-width: auto;
  display: grid;
  background-color: #e0f7fa;
}


.center-block {
  margin-left: auto;
  margin-right: auto;
}

.cards-block {
	margin-left: auto;
	margin-right: auto;
}

.smallsqare { 
	width: 200px;
	height: 200px;
}

.card {
	width: 200px;
	height: 400px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.card-image {
	width: 200px;
	height: 200px;
}

.card-content {
	width: 200px;
	height: 200px;
	color: #757575;
}


.title-secondary {
	font-family: "Segoe UI";
	color: black;
}


.flow-text-indre {
	color: #e0f7fa;
	position: center;
	font-family: "Segoe UI";
	font-size: 18px;
	margin: 25px;

}

.flow-text-aivaras {
	color: #757575;
	font-family: "Segoe UI";
	font-size: 18px;
}

.container-indre {
	display: block;

}

.single-picture {
	width: 100%;
	height: 20%;
}

.card-panel {
	background-color: #dce775;
	margin-left: 50px;
	margin-right: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	}

.column {
	box-sizing: border-box;
  	width: 25%;
  	position bottom: 0px;
    float: left;
}

.cards-titles {
	text-align: center;
	font-size: 25px;
	font-family: "Segoe UI";
}

.cards-block-text {
	text-align: center;
	font-size: 15px;
	font-family: "Segoe UI";
}

.page-footer {
	background-color: #0097a7;
	color: #B2EBF2;
}

 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.blur-image {
	/*background-image: url("photographer.jpg"); */
  /* Add the blur effect */
  	filter: blur(3px);
  	-webkit-filter: blur(3px);
  /* Full height */
  	height: 100%; 
  /* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.carousel-content {
  position: absolute;
  bottom: 25%;
  left: 15%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.material-icons.start-title {
	color: white;
	font-size: 25px;
}

.container-start-title {
	background-color: transparent;
	padding: 10px;
	text-align: center;
}

.start-title-text {
	font-family: "Georgia";
	font-stretch: ;
	color: #FFFFFF;
	position: center;
	font-style: italic;
}

